Background
body {
  Color: light blue;
}

div {
  with: 700px;
  margin: auto;
  font-family: Helvetica Neue;
  background: white;
  padding: 30px
}

#main-header {
  font-size: 22px;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
 font-style: italic;
}
