Background
body {
  Color: light blue;
}


div {
  with: 700px;
  margin: auto;
  font-family: Helvetica Neue;
  background: white;
  padding: 30px
}

#main-header {
  font-size: 22px;
}

.perspective-questions {
 font-style: italic;
}
